.container {
    background-color: rgb(217, 206, 240);
    border-radius: 8px;
    height: 100%;
    font-family: Arial;
    margin: auto;
    width: 100%;
}

.nav-bar {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    position: fixed;
    width: 98.9%;
}
#aboutMeBtn,
#contactBtn,
#socialMediaBtn,
#project-dropdown-button {
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    /* border: none; */
    color: white;
    /* display: block; */
    float: left;
    font-size: 17px;
    font-weight: bolder;
    margin-right: 150px;
    padding: 14px 40px;
    position: relative;
    text-align: center;
}
#aboutMeBtn:hover,
#projectBtn:hover,
#contactBtn:hover,
#socialMediaBtn:hover,
#project-dropdown-button:hover,
.picky-eater-btn:hover,
.space-kidet-btn:hover,
.trekking-app-btn:hover,
.donut-clicker-btn:hover,
.virtual-pet-shelter-btn:hover {
    color: rgb(223, 76, 161);
}
.project-dropdown-menu {
    /* position: relative; */
    /* display: inline-block; */
    /* border: none; */
    float: right;
    margin-right: 20%;
    /* overflow: hidden; */
}
.project-dropdown-menu #project-dropdown-button {
    border: none;
    padding: 14px 40px;
    margin: 0;
    outline: none;
}
.project-dropdown-content {
    display: none;
    /* position:absolute; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.picky-eater-btn,
.space-kidet-btn,
.trekking-app-btn,
.donut-clicker-btn,
.virtual-pet-shelter-btn {
    /* float: none; */
    padding: 14px;
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    width: 150px;
    background-image: linear-gradient(to right top, #3498db 0%, #8e44ad 100%);
    /* border: none; */
    color: white;
    /* display: block; */
    font-size: 17px;
}
.project-dropdown-menu:hover .project-dropdown-content {
    display: block;
}
/* .project-dropdown-menu:hover .project-dropdown-button {
    background-color: rgb(219, 163, 219);
} */
/* @media screen and (max-width: 600px) {
    .nav-bar a:not(:first-child), .project-dropdown-menu #project-dropdown-button {
        display: none;
    }
    .nav-bar a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .nav-bar.responsive {position:relative;}
    .nav-bar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-bar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .nav-bar.responsive .project-dropdown-menu {float: none;}
    .nav-bar.responsive .project-dropdown-content {position: relative;}
    .nav-bar.responsive .project-dropdown-menu #project-dropdown-button {
        display: block;
        text-align: left;
        width: 100%;
    }
}
.nav-bar .icon {
    display: none;
} */
header {
    padding: 70px;
}
.main-title {
    border-radius: 8px;
    font-size: 40px;
    margin-left: 35%;
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, -19px -2px 11px 15px rgba(166,27,255,0); 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, -19px -2px 11px 15px rgba(166,27,255,0);
    text-align: center;
    width: 30%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: auto;
}
.alicia-photo {
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    padding: 15px;
    width: 40%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
img {
    height: auto;
}
.photo {
    margin-left: 30%;
    margin-top: 20px;
}
section {
    background-color: rgb(209, 187, 202);
    border-radius: 8px;
    margin-top: 60px;
}
.about-me {
    margin-top: 60px;
    text-align: center;
}
.about-me-popup {
    background-color: rgb(240, 235, 228);
    border-radius: 8px;
    display: none;
    height: auto;
    left: 50%;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    width: 40%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.close {
    float: right;
    font-size: 50px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: palevioletred;
    cursor: pointer;
}
.contact-block {
    background-color: rgb(240, 235, 228);
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    width: 100%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.mail {
    width: 10%;
}
.cell-phone {
    width: 10%;
}
.social-media-block {
    background-color: rgb(240, 235, 228);
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    width: 100%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.social-media-header {
    text-align: center;
}
.contact-info-header {
    text-align: center;
}
.github-icon {
    width: 30%;
}
.linkedin-icon {
    width: 30%;
}
.skills-block {
    background-color: rgb(240, 235, 228);
    border-radius: 8px;
    height: auto;
    margin-right: 20%;
    margin-top: 40px;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    width: 70%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.skills-list-info li {
    display: inline-block;
    padding: 8px;
}
.grid-container-3 {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
}
.projects {
    margin-top: 60px;
    text-align: center;
}
article {
    background-color: rgb(240, 235, 228);
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.virtual-pet-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 75%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.virtual-pet-shelter-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 87%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.virtual-pets-amok-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 87%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.vpp-title {
    text-align: center;
}
.vps-title {
    text-align: center;
}
.vpa-title {
    text-align: center;
}
.grid-container-4 {
    display: grid;
    grid-gap: 300px;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
}
.grid-container-5 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.app-image {
    border: 1px solid black;
    height: 600px;
    margin: auto;
    margin-left: 15%;
    margin-top: 5px;
}
.app-image-space-1, .app-image-space-2 {
    border: 1px solid black;
    height: 600px;
    margin: auto;
    margin-left: 5%;
    margin-top: 50px;
}
.image-card {
    background-color: black;
    border-radius: 8px;
}
.space-image-card {
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    border-radius: 8px;
}
.grid-container-for-image-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.app-description {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
}