.container {
    background-color:rgb(217, 206, 240);
    border-radius: 8px;
    font-family: Arial;
    margin: auto;
    padding: 20px;
    width: 100%;
}
.nav-bar {
    background-color: #333;
    border-radius: 8px;
    margin-top: 20px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}
header {
    align-items: center;
    background-color:rgb(209, 187, 202);
    border-radius: 8px;
    margin-top: 40px;
    padding: 20px;
}
.main-title {
    text-align: center;
}
nav button {
    background-color:rgb(192, 167, 241);
    border-radius: 8px;
    color:black;
    font-size: 16px;
    padding: 10px;
}
nav button:hover {
    background-color: #888;
    transition: 0.5s;
}
.grid-container {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: auto;
}
.alicia-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 30px;
    padding: 15px;
    width: 40%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
img {
    height: auto;
}
.photo {
    margin-left: 30%;
    margin-top: 20px;
}
section {
    background-color:rgb(209, 187, 202);
    border-radius: 8px;
    margin-top: 60px;
}
.about-me {
    margin-top: 60px;
    text-align: center;
}
.about-me-popup {
    background-color:rgb(240, 235, 228);
    border-radius: 8px;
    display: none;
    height: auto;
    left: 50%;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    width: 40%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.close {
    float: right;
    font-size: 50px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: palevioletred;
    cursor: pointer;
}
.contact-block {
    background-color:rgb(240, 235, 228);
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    width: 100%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.mail {
    width: 10%;
}
.cell-phone {
    width: 10%;
}
.social-media-block {
    background-color:rgb(240, 235, 228);
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    width: 100%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.social-media-header {
    text-align: center;
}
.contact-info-header {
    text-align: center;
}
.github-icon {
    width: 30%;
}
.linkedin-icon {
    width: 30%;
}
.skills-block {
    background-color:rgb(240, 235, 228);
    border-radius: 8px;
    height: auto;
    margin-right: 20%;
    margin-top: 40px;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    width: 70%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.skills-list-info li {
    display: inline-block;
    padding: 8px;
}
.grid-container-3 {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
}
.projects {
    margin-top: 60px;
    text-align: center;
}
.project-dropdown-button {
    background-color: rgb(94, 11, 94);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.project-dropdown-menu {
    position: relative;
    display: inline-block;
}
.project-dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(192, 167, 241);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.picky-eater-btn, .space-kidet-btn, .trekking-app-btn, .donut-clicker-btn, .virtual-pet-shelter-btn {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.picky-eater-btn:hover, .space-kidet-btn:hover, .trekking-app-btn:hover, .donut-clicker-btn:hover, .virtual-pet-shelter-btn:hover {
    background-color:salmon;
}
.project-dropdown-menu:hover .project-dropdown-content {
    display:block;
}
.project-dropdown-menu:hover .project-dropdown-button {
    background-color:rgb(219, 163, 219);
}
article {
    background-color:rgb(240, 235, 228);
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.virtual-pet-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 75%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}

.virtual-pet-shelter-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 87%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.virtual-pets-amok-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 87%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}
.vpp-title {
    text-align: center;
}
.vps-title {
    text-align: center;
}
.vpa-title {
    text-align: center;
}
.grid-container-4 {
    display: grid;
    grid-gap: 300px;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
}
.grid-container-5 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    
}
.picky-eater-app-image {
    border: 1px solid black;
    height: 500px;
    margin: auto;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-top: 50px;
    width: auto;
}
.image-card {
    background-color: rgb(223, 76, 161);
}