* {
    box-sizing: border-box;
}

body {
    background-color:rgb(243, 221, 243);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-bar {
    align-items: center;
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    color: white;
    display: flex;
    justify-content: space-between;
}

.my-name {
    font-size: 1.5rem;
    margin: .5rem;
}

.nav-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.nav-links li:hover {
    background-color: rgb(221, 73, 177);
}

.burger-menu {
    color: white;
    display: none;
    flex-direction: column;
    font-size: 2rem;
    height: 20px;
    justify-content: space-between;
    position: absolute;
    right: 1rem;
    text-decoration: none;
    top: .4rem;
    width: 30px;
}

.project-dropdown-links ul {
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
}

.project-dropdown-links li {
    list-style: none;
}

nav ul li:hover ul {
    display: block;
}

.project-dropdown-links li a {
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.project-dropdown-links li:hover {
    background-color: rgb(221, 73, 177);
}

.project-dropdown-button {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

@media (max-width: 600px) {
    .burger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-bar {
        align-items: flex-start;
        flex-direction: column;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li a {
        padding: .5rem 1rem;
    }
}

@media screen and (max-width: 600px) {

    .contact-me-popup {
        height: auto;
        margin-left: 10%;
        overflow: auto;
        padding: 20px;
        top: 30%;
    }
    .alicia-photo {
        height: auto;
        max-width: 50%;
        margin-left: 20%;
        margin-top: 20%;
    }
    #about-me-paragraph {
        margin-left: 10%;
        max-width: 80%;
    }
    #social-media-popup {
        margin-left: 10%;
        max-width: 80%;
    }
    #contact-popup {
        margin-left: 5%;
        max-width: 90%;
    }
    .picky-eater-app-title {
        width: 120%;
    }
    #picky-eater-app-title-2 {
        width: 120%;
    }
}

.grid-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.alicia-photo {
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    height: auto;
    padding: 15px;
    max-width: 40%;
    margin-left: 25%;
    margin-top: 8%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}

.about-me-popup {
    background-color: rgb(241, 141, 196);
    border-radius: 8px;
    display: none;
    font-size: 1.2rem;
    height: auto;
    line-height: 2rem;
    margin-left: 25%;
    overflow: auto;
    padding: 40px;
    position: absolute;
    top: 25%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    max-width: 40%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.social-media-popup {
    background-color: rgb(241, 141, 196);
    border-radius: 8px;
    display: none;
    height: auto;
    margin-left: 25%;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 25%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    max-width: 40%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.contact-me-popup {
    background-color: rgb(241, 141, 196);
    border-radius: 8px;
    display: none;
    height: auto;
    margin-left: 30%;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 30%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    max-width: 40%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.close, .close2, .close3 {
    color: rgb(250, 245, 250);
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(107, 29, 107);
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: rgb(107, 29, 107);
    cursor: pointer;
}

.close3:hover,
.close3:focus {
    color: rgb(107, 29, 107);
    cursor: pointer;
}

.contact-block {
    background-color: rgb(240, 235, 228);
    border-radius: 8px;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-bottom: 10%;
    margin-top: 10%;
    max-width: 100%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}

.grid-container-popup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
}

.mail {
    max-width: 10%;
}

.cell-phone {
    max-width: 10%;
}

.social-media-block {
    background-color: rgb(240, 235, 228);
    border-radius: 8px;
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    max-width: 100%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}

.social-media-header {
    text-align: center;
}

.contact-info-header {
    text-align: center;
}

.github-icon {
    max-width: 30%;
}

.linkedin-icon {
    width: 30%;
}

.skills-block {
    background-color: rgb(240, 235, 228);
    border-radius: 8px;
    height: auto;
    margin-left: 7%;
    margin-top: 10%;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    max-width: 85%;
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}

.skills-title {
    text-align: center;
}

.skills-list-info li {
    display: inline-block;
    padding: 8px;
}

.grid-container-3 {
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2%;;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
}

.projects {
    margin-top: 60px;
    text-align: center;
}

article {
    background-color: rgb(240, 235, 228);
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}

.virtual-pet-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 75%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}

.virtual-pet-shelter-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 87%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}

.virtual-pets-amok-photo {
    border-radius: 8px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 87%;
    -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.75);
}

.vpp-title {
    text-align: center;
}

.vps-title {
    text-align: center;
}

.vpa-title {
    text-align: center;
}

.grid-container-4 {
    align-items: center;
    display: grid;
    grid-gap: 6%;
    grid-template-columns: 1fr 1fr;
    height: auto;
    /* margin-left: 5%;
    margin-right: 5%; */
    padding: 3%;
    width: auto;
}

.grid-container-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .grid-container, .grid-container-4 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 2fr;
        width: auto;
    }
}

@media (max-width: 600px) {
    .grid-container-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 2fr;
    }
}

@media (max-width: 600px) {
    .grid-container-for-space-image-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "space-image-card";
        height: auto;
        width: auto;
    }
}

@media (max-width: 600px) {
    .grid-container-for-donut-image-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        width: auto;
    }
}

.app-image {
    border: 1px solid black;
    height: auto;
    margin: auto;
    margin-left: 2%;
    margin-top: 50px;
    max-width: 95%
}

.picky-eater-app-image {
    border: 1px solid black;
    height: auto;
    margin: auto;
    margin-left: 2%;
    margin-top: 50px;
    max-width: 95%;
}

.picky-eater-app-image-tall {
    border: 1px solid black;
    height: auto;
    margin: auto;
    margin-left: 2%;
    margin-top: 50px;
    max-width: 95%;
}

.app-image-donut {
    border: 1px solid black;
    height: auto;
    margin: auto;
    margin-left: 2%;
    margin-top: 10%;
    max-width: 95%;
}

.app-image-space-1, .app-image-space-2 {
    border: 1px solid black;
    height: auto;
    margin: auto;
    margin-left: 2%;
    margin-top: 50px;
    max-width: 95%;
}

.pet-app-image {
    border: 1px solid black;
    height: auto;
    /* margin: auto; */
    margin-top: 5px;
    max-width: 100%;
}

.skills-used {
    color: white;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 10%;
}

.image-card {
    border-radius: 8px;
}

.picky-eater-image-card {
    background-color: black;
    border-radius: 8px;
    margin-top: 50px;
}

.space-image-card {
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    border-radius: 8px;
}

.grid-container-for-image-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.app-description {
    color: rgb(44, 26, 41);
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
}

.picky-eater-app-title {
    color: black;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.app-title {
    text-align: center;
}